<div class="container">
    <div class="row mt-5">
        <div class="col-sm-6">
            <app-seleccionar-cliente 
                [nombre]='clienteSeleccionado.nombre' 
                (seleccionoCliente)="asignarCliente($event)" 
                (cancelarCliente)="eliminarCliente()" 
            ></app-seleccionar-cliente>
            <button class="btn btn-primary" (click)="guardar()" >Guardar</button>
        </div>
        <div class="col-sm-6">
            segundo
        </div>
    </div>
</div>