<div class="container">
    <div class="row mt-5">
        <div class="col-sm-6 ">
            <div>
                <app-seleccionar-cliente 
                    [nombre]='clienteSeleccionado.nombre' 
                    (seleccionoCliente)="asignarCliente($event)" 
                    (cancelarCliente)="eliminarCliente()" 
                ></app-seleccionar-cliente>

                <label class="form-label" >Precio</label>
                <select [(ngModel)]="idPrecio" class="form-select" name="" id="" (change)="seleccionarPrecio($event.target)" >
                    <option [value]="null">Seleccione un precio</option>
                    <option *ngFor="let precio of precios" [value]="precio.id" >{{precio.nombre}}</option>
                </select>

                <label class="form-label" >Fecha Inicio</label>
                <input class="form-control" [value]="inscripcion.fecha | date" type="text" disabled>

                <label class="form-label"  >Fecha Finaliza</label>
                <input class="form-control" [value]="inscripcion.fechaFinaliza | date" type="text" disabled>

                <label class="form-label"  >Sub Total</label>
                <input class="form-control" [value]="inscripcion.subTotal" type="number" disabled>

                <label class="form-label"  >ISV</label>
                <input class="form-control" [value]="inscripcion.isv" type="number" disabled>

                <label class="form-label"  >Total</label>
                <input class="form-control" [value]="inscripcion.total" type="number" disabled>

            </div>
            <br/>
            <button class="btn btn-primary" (click)="guardar()" >Guardar</button>
        </div>
        <div class="col-sm-6">
             <div *ngIf="clienteSeleccionado.imgUrl" class="imgCliente" >
                 <img [src]="clienteSeleccionado.imgUrl" alt="">
             </div>
        </div>
    </div>
</div>