<div class="container mt-5" >
    <form action="">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="" >Nombre</label>
                    <input type="text" class="form-control" placeholder="Agregue el nombre">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="" >Apellido</label>
                    <input type="text" class="form-control" placeholder="Agregue el apellido">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Correo</label>
                    <input type="text" class="form-control" placeholder="Agregue el correo" >
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Cedula</label>
                    <input type="text" class="form-control" placeholder="Agregue una cedula" >
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Fecha Nacimiento</label>
                    <input type="date" class="form-control" placeholder="Agregue una Fecha Nacimiento" >
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Telefono</label>
                    <input type="tel" class="form-control" placeholder="Agregue un Telefono" >
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="">Imagen</label>
                    <input type="file" class="form-control-file" >
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <br/>
                    <progressbar [value]="22" type="danger" [striped]="true">22%</progressbar>
                </div>
            </div>
            <div class="col-sm-4">
                <br/>
                <button class="btn btn-primary">agregar</button>
            </div>
        </div>
    </form>
</div>
